 

/* Her styler jeg header navbar */
header {
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #2F6892;
    justify-content: flex-end;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000;
    height: 120px;
    padding: 0 20px;
}

/* størrelsen på navbar */
main {
    margin-top: 120px;
}

/* Her styler jeg placering af logo */
nav {
    display: flex; /* Gør nav til flex container */
    align-items: center; /* Juster elementer vertikalt */
    width: 100%; /* Fyld den resterende plads */
}

/* Her styler jeg logoet i navbar */
.logo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
}

/* 
header ul li :last-child {
    margin-right: 0;
}
 */


/* her sætter jeg farve ind når musen går over de enkelte */
header ul li a:hover {
    color: #F6BE67;
}

/* 
header ul .submenu li {
    margin: 0;
    width: 100%;
}
 */
 

 /* styling af submenu dropdown
header ul .submenu li a {
    padding: 20px 20px;
    display: inline-block;
    width: 100%;
}
 */

 /* Sryling af placering på menupunkterne til venstre */
nav ul {
    display: flex; 
    list-style: none;
    margin-left: auto; /* Skub ul til højre */
    padding: 10px;
    margin-right: 30px;
}

/*  
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}
*/

/* 
nav ul li:last-child {
    margin-right: 0;
}
 */
 
 /* 
nav ul li a {
    text-decoration: none;
    color: #2F6892;
    padding: 22px 0;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 */


/* Styling af submenupunkter 
nav ul .submenu {
    position: absolute;
    width: 200px;
    background-color: white;
    display: none;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
}
*/

/* Hvor dropdown er i forhold til navbar 
nav ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    margin-top: 0;
    display: block;
}
*/

/* Placering af li i submenu, de sidder ude i siden */
nav ul .submenu li {
    margin: 0;
    width: 100%;
}

/* styling af submenu dropdown mellemrum mellem submenupunkterne */
nav ul .submenu li a {
    padding: 20px 10px;
    display: inline-block;
    width: 100%;
    font-size: 18px;
}


/* her styler jeg navbar til mobil */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: white;
    box-shadow: #F6BE67;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

/* Her styler jeg submenupunkterne til mobilskærm */
header ul li {
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}

/* Menupunkterne på mobilstørrelse */
header ul li a {
    text-decoration: none;
    color: #2F6892;
    padding: 22px 0;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Styling af submenupunkter, de forsvinder når musen ikke er over */
header ul .submenu {
    position: absolute;
    width: 200px;
    background-color: white;
    display: none;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
}

/* Dropdown i submenu */
header ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    margin-top: 0;
    display: block;
}

@media(max-width:800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button {
        display: block;
    }

    .sidebar ul li:hover .submenu {
        display: block;
    }
}

@media(max-width: 700px) {
    .sidebar{
        width: 100%;
    }
}





/* Her styler jeg forsiden med grid */

body {
    margin: 2em 0 0 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    color: #2F6892;
    background-color: var(--clr-light);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .container-forside {
    display: grid;
    grid-template-rows: repeat(30,100px);
    grid-template-columns: repeat(30,100px);
    width: 100%;
    margin: 0 auto;
    border: 10px solid var(--clr-dark);
 }

 .item {
    padding: 0.5rem;
    background-color: white;
    font-weight: 700;
    color: #2F6892;
    display: grid;
    place-items: center;
 }

 /* her styler jeg afstanden mellem gridelementerne  */
 .content-forside {
    display: grid;
    grid-template-rows: auto auto; 
    justify-items: center; 
}
 /* her styler jeg knappen under billederne */
 .orange-button-forside {
        padding: 10px 65px;
        background-color: #F6BE67;
        color: #2F6892;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    /* dette er knappen */
    .orange-button:hover {
        background-color: #F6BE67;
        color: #2F6892;
       
    }
 /* her fjerner jeg understregen i linket */
    .item a {
     text-decoration: none;
    }


/* her styler jeg grid elementerne */
.item.item-1-forside {
    grid-area: 2/1/2/1;
 }

 .item.item-2-forside {
    grid-area: 10/8/10/1;
 }

 .item.item-3-forside {
    grid-area: 2/8/2/8;
 }

 .item.item-4-forside {
    grid-area: 10/8/10/8;
 }

 .item.item-5-forside {
    grid-area: 12/15/12/8;
 }











