body {
    margin: 5em 0 0 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    color: #2F6892;
    background-color: var(--clr-light);
 }

 .container {
    display: grid;
    grid-template-rows: repeat(30,100px);
    grid-template-columns: repeat(30,100px);
    width: 100%;
    margin: 0 auto;
    border: 10px solid var(--clr-dark);
 }

 .item {
    padding: 0.5rem;
    background-color: white;
    font-weight: 700;
    color: #2F6892;
    display: grid;
    place-items: center;
 }

 /* her styler jeg afstanden mellem gridelementerne  */
 .content {
    display: grid;
    grid-template-rows: auto auto; 
    justify-items: center; 
    gap: 5px;
}
 /* her styler jeg knappen under billederne */
 .orange-button {
        padding: 10px 65px;
        background-color: #F6BE67;
        color: #2F6892;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    /* dette er knappen */
    .orange-button:hover {
        background-color: #F6BE67;
        color: #2F6892;
       
    }
 /* her fjerner jeg understregen i linket */
    .item a {
     text-decoration: none;
    }


/* her styler jeg grid elementerne */
.item.item-1 {
    grid-area: 2/1/2/1;
 }

 .item.item-2 {
    grid-area: 3/7/3/1;
 }

 .item.item-3 {
    grid-area: 7/1/7/1;
 }

 .item.item-4 {
    grid-area: 2/8/2/8;
 }

 .item.item-5 {
    grid-area: 3/15/3/8;
 }

 .item.item-6 {
    grid-area: 7/8/7/9;
 }

 .item.item-7 {
    grid-area: 13/1/13/4;
 }

 .item.item-8 {
    grid-area: 13/4/13/4;
 }